@import "src/css/color.scss";
@import "src/css/units.scss";

.button {
  border-radius: $radius;
  width: auto;
  border: 0px solid transparent;
  padding: 0.7em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: $plain-color;
  cursor: pointer;
  overflow: hidden;
  user-select: none;
  transition: ease $animation-duration;
  .shadow {
    filter: drop-shadow(0 0 2em $plain-color);
  }
}

.disabled {
    color: $disabled-color;
}

.ripple {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.25);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  animation: scale $animation-duration ease-out;
}

.button:hover {
  filter: brightness(.95);
  .shadow {
    filter: brightness(.95) drop-shadow(0 0 2em plain-color)
  }
}

.primary {
  background-color: $primary-color;
  color: white;
  .shadow {
    filter: drop-shadow(0 0 2em $primary-color-transparent);
  }
}

.green {
  background-color: $green-color;
  color: white;
  .shadow {
    filter: drop-shadow(0 0 2em $green-color);
  }
}

.warning {
  background-color: $warning-color;
  color: white;
  .shadow {
    filter: drop-shadow(0 0 2em $warning-color);
  }
}

.error {
  background-color: $error-color;
  color: white;
  .shadow {
    filter: drop-shadow(0 0 2em $error-color);
  }
}


@keyframes scale {
  to {
    transform: translate(-50%, -50%) scale(2);
    opacity: 0;
  }
}

.large {
  padding: 0.8em 1.5em;
}

.small {
  padding: 0.4em 0.8em;
}

.xs {
  padding: 0.2em 0.4em;
}