@import "src/css/color.scss";
@import "src/css/units.scss";

.container {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.spacer {
    margin: 0 0.5rem;
}

.column {
    display: flex;
    flex-direction: column;
}

.stageCard {
    width: 480px;
    height: 400px;
    padding: 1rem;
    border-radius: $radius;
    filter: drop-shadow(0 0 1em rgba(0, 0, 0, 0.1));
    background-color: white;
    margin-bottom: 16px;
}

.targetCard {
    padding: 1rem;
    width: 480px;
    height: 270px;
    border-radius: $radius;
    filter: drop-shadow(0 0 1em rgba(0, 0, 0, 0.1));
    background-color: white;
}