@import "src/css/color.scss";
@import "src/css/units.scss";

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
    .input {
        opacity: 0;
        width: 0;
        height: 0;
    }
}

.slider {
  position: absolute;
  cursor: pointer;
  border: 2px solid transparent;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $disabled-color;
  transition: .4s;
  border-radius: 1rem;
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  transition: ease $animation-duration;
  border-radius: 1rem;
}

.input:checked + .slider {
  background-color: $primary-color;
  filter: drop-shadow(0 0 0.5em $primary-color-transparent);
}

.input:checked + .slider:before {
  animation: $animation-duration ease-out elastic;
  transform: translateX(30px);
}

@keyframes elastic {
    0% {
        width: 22px;
    }
    40% {
        width: 28px;
    }
    100% {
        width: 22px;
    }
}

.disabled {
    .slider {
        background: repeating-linear-gradient(45deg, white, white 15px, #fafafa 0, #fafafa 30px);
        border: 2px solid $disabled-color;
        filter: unset !important;
    }
    
    .slider:before {
        background-color: $disabled-color;
    }
}