@import "src/css/color.scss";
@import "src/css/units.scss";

.control {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-bottom: 1rem;
}

.turbo {
    display: flex;
    align-items: center;
    color: $warning-color;
    font-size: 12px;
    font-weight: 500;
}

.spacer {
    margin: 0 0.2rem;
}

.elastic {
    display: flex;
    flex-grow: 1;
}

.stage {
    display: block;
    width: 480px;
    height: 360px;
    overflow: hidden;
    background-color: transparent;
    border: 1px solid $disabled-color;
    border-radius: $radius;
    /* Make sure border is not included in size calculation */
    box-sizing: content-box !important;
    /* enforce overflow + reset position of absolutely-positioned children */
    position: relative;
}