$plain-color: #f9f9f9;
$primary-color: rgb(53, 129, 234);
$primary-color-transparent: rgba(53, 129, 234, 0.3);
$disabled-color: rgb(211, 211, 211);
$green-color: #17c964;
$error-color: #f31260;
$warning-color: #F5A524;
$tips-color: #686868;